<div class="jumbotron jumbotron-index rounded px-3 py-3 justify-content-center">
    <h1 class="display-4">Blog Node.js</h1>
    <p class="lead">Blog construído com Node.js + Express + MongoDB</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Crie uma conta</a>
    </p>
</div>
<hr class="mt-5">
<h2 class="py-3 title-page">Postagens recentes: </h2>
{{#each postagens}}
    <div class="card my-2">
        <div class="card-body">
            <h3>{{titulo}}</h3>
            <p>{{descricao}}</p>
            <a href="/postagem/{{slug}}"><button class="btn btn-outline-success">Leia mais</button></a>
            <hr>
            <small>{{categoria.nome}}</small><br>
            <small>Data de publicação: {{date}}</small>
        </div>
    </div>
{{else}}
    <h4 class="mt-3 text-light">Nenhuma postagem registrada!</h4>
{{/each}}
